asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
distlib==0.3.9
dj-database-url==2.3.0
Django==3.2.19
django-heroku==0.3.1
djangorestframework==3.15.2
filelock==3.16.1
Flask==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.2
pillow==11.1.0
platformdirs==4.3.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
virtualenv==20.26.6
Werkzeug==3.0.3
whitenoise==6.9.0
